.btn-input {
  margin-bottom: 15px;
}

.down-hr {
  margin-bottom: 15px;
}

.btn-info input {
  width: 60%;
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 0;
}

.btn-1 {
  border: 1px solid #e2e2df;
  padding: 3px 5px;
  margin-left: 2px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.btn-2 {
  border: 1px solid #e2e2df;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 2px;
  background-color: #f2f2f2f2;
}

.btn-3 {
  border: 1px solid #e2e2df;
  padding: 3px 5px;
  border-radius: 5px;
  margin-left: 2px;
  background-color: #f2f2f2f2;
}

.card {
  margin-top: 1rem;
  margin-bottom: 1rem;

}


.card label .reshape {
  border: #d8d2d2 1px solid;
  font-size: 10px;
  border-radius: 10px;
  padding: 2px 10px;
  font-weight: bold;
  margin-left: 5px;
  color: #8a8585;
}

.card .link-1 {
  font-size: 19px;
}

.soures-card {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.join-info {
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.join-info .days {
  font-size: 12px;
  cursor: pointer;
}

.join-info i {
  font-size: 12px;
}

.join-info svg {
  margin-right: 5px;
}

.title-code {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

/* circle fixed */
/* .box {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 10px;
  right: 10px;
  background-color: #173459;
  border-radius: 50%;
}*/

.profile-section {
  padding: 0 15px;
}

.project-content {
  padding: 0 15px;
}

.pro-gta {
  display: flex;
  align-items: center;
  justify-content: start;

}

.pro-gta img {
  width: 6.2rem;
  border-radius: 50%;
  border: 2px solid #e2e2df;
}

.pro-gta div {
  padding-left: 15px;
}

.pro-gta h1 {
  font-weight: 500;
  font-size: 25px;
  color: #2e2a2af1;
}

.pro-gta h2 {
  font-size: 20px;
}

.Ava {
  display: block;
  margin-top: 1.6rem;
  font-size: 12px;
  padding-left: 10px;
}

.second .cta {
  margin-top: 10px;
}

.link-direction {
  margin-top: 25px;
  margin-bottom: 10px;
}

.link-direction .one-link {
  display: flex;
  align-items: center;
}

.Rta {
  color: #8a8585;
  padding-left: 4px;
  font-size: 14px;
}

.two-link span {
  font-size: 14px;
  color: #8a8585;
}

.two-link label {
  padding-left: 4px;
  font-size: 14px;
}

.gta-btn {
  border: 1px solid #e2e2df;
  width: 100%;
  text-transform: capitalize;
  border-radius: 5px;
  padding: 4px 5px;
  background-color: #f2f2f2;
  margin-bottom: 15px;
}

.third-hero h3 {
  margin-top: 15px;
  font-weight: 500;
}

.third-hero h3:hover {
  text-decoration: underline;
  color: blue;
}

.Sticker-gta {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.Sticker-gta img {
  width: 4rem;
}

.shark-gta span {
  position: absolute;
  bottom: 2px;
  right: 0px;
  background-color: #ffa6b5;
  padding-left: 8px;
  font-size: 12px;
  font-weight: 500;
  padding-right: 8px;
  border-radius: 0.625rem;
}

.beta-info {
  margin-top: 10px;
}

.beta-info span {
  border: 1px solid #000;
  border-radius: 20px;
  padding: 1px 10px;
  font-size: 12px;
}

.beta-info a {
  font-size: 12px;
  padding-left: 5px;
  color: blue;

}


.block-gta {
  font-size: 15px;
  display: block;
  padding-top: 10px;
  padding-bottom: 25px;
}

.block-gta:hover {
  color: blue;
  text-decoration: underline;

}

.mobile-link ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.mobile-link ul li {
  padding: 5px 10px;
  transition: 0.5s all ease-in-out;
}

.mobile-link ul li:hover {
  background-color: #f1f1f1;
}

.section-link {
  margin-top: 20px;
}

.section-link input {
  border: 1px solid #e2e2df;
  width: 100%;
  border-radius: 5px;
  padding: 4px 5px;
  margin-bottom: 15px;
}

.group-btn {
  margin-bottom: 15px;
}

.BtnGroup-item {
  display: flex;
  align-items: center;
  border: 1px solid #e2e2df;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 500;
}

.svg-logo {
  border: 1px solid #e2e2df;
  border-radius: 5px;
  padding: 6px 10px;
}

.flex-1 {
  display: flex;
  align-items: center;
}

.arrow-git {
  float: left;
  border-left-width: 1;
  border-radius: 0;
}

.BtnGroup-item {
  position: relative;
  float: left;
  border-left-width: 2;
  border-radius: 0;
}

/********************************** mobile footer  ***********************************/
.mobile-footer {
  margin-top: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 3rem;
}

.mobile-footer ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.mobile-footer ul li a {
  color: blue;
  padding: 0 12px;
  font-size: 12px;
}

.fooder-last {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fooder-last img {
  width: 2rem;
}

.fooder-last a {
  color: #000;
  font-size: 12px;
  padding-left: 15px;
}

/********************************** mobile footer  ***********************************/

.desktop-footer {
  margin-top: 1.5rem;
  padding: 0 1rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: start;
}

.desktop-footer ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 2rem;
}

.desktop-footer ul li a {
  color: blue;
  padding: 0 12px;
  font-size: 12px;
}

.fooder-last {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fooder-last img {
  width: 2rem;
}

.fooder-last a {
  color: #000;
  font-size: 12px;
  padding-left: 15px;
}